.responsive-font {
    font-size: 1.6rem;
}
@media (max-width: 1200px) {
    .responsive-font {
        font-size: 1.5rem;
    }
}
@media (max-width: 992px) {
    .responsive-font {
        font-size: 1.4rem;
    }
}
@media (max-width: 768px) {
    .responsive-font {
        font-size: 1.25rem;
    }
}
@media (max-width: 576px) {
    .responsive-font {
        font-size: 1rem;
    }
}

#wd-grades-table .table td:first-child {
    color: red;
}

#wd-grades-table .table td:first-child, #wd-grades-table .table th:first-child {
    text-align: left;
}

#wd-grades-table .table td:not(:first-child), #wd-grades-table .table th:not(:first-child) {
    text-align: center;
}

#wd-grades-table .table td, #wd-grades-table .table th {
    border: 1px solid black;
    vertical-align: middle;
}

#wd-grades-table input {
    background-color: transparent;
    border-color: transparent;
    width: 100%;
    text-align: center;
}